<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="base_url" value="https://integration.join-data.net" />
    <add key="base_url_token" value="https://integration.join-data.net" />
    <add key="client_secret" value="2fc14511-fb52-46f1-a9db-4c477073f9bd" />

    <add key="path_url" value="adapter-milking-visits/api/locations/nl.kvk/7000001/milking-visits" />
    <add key="path_url_token" value="auth/realms/datahub/protocol/openid-connect/token" />
    <add key="client_id" value="farmer-rem" />
    <add key="grant_type" value="client_credentials" />
  </appSettings>
</configuration>