<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="base_url" value="https://integration.join-data.net" />
    <add key="base_url_token" value="https://integration.join-data.net" />

    <add key="path_url" value="adapter-milking-visits/api/locations/nl.ubn/6026088/milking-visits" />
    <add key="path_url_token" value="auth/realms/datahub/protocol/openid-connect/token" />

    <add key="client_id" value="47c83dd4" />
    <add key="client_secret" value="T0m8jSnOqUNfFe9ZbHTzmDibiTudrJ8T" />
    <add key="grant_type" value="client_credentials" />

    <add key="RepeatCount" value ="100"/>
  </appSettings>
</configuration>