<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="base_url" value="http://localhost:5000" />
    <add key="path_url" value="adapter-milking-visits/api/locations/nl.kvk/7000001/milking-visits" />
    <add key="base_url_token" value="https://test.join-data.net" />
    <add key="path_url_token" value="auth/realms/datahub/protocol/openid-connect/token" />
    <add key="client_id" value="farmer-rem" />
    <add key="client_secret" value="52209806-8aaf-4c9f-92fd-a74851d09675" />
    <add key="grant_type" value="client_credentials" />
  </appSettings>
</configuration>